@font-face {
    font-family:"CenturyGothic";
    src: url("../CenturyGothic.ttf") /* TTF file for CSS3 browsers */
}




body{
  background-image: url(../images/PDFLandingFondo2.jpg);
font-family: 'CenturyGothic', sans-serif;
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
/*background: #5d5e60;*/
}

h1{
  color: white;
}

.cuidado {
  border-radius: 25px;
  padding-top: 25px;
}

body > div.footer-copyright.grey{

padding-top: 10px;
padding-bottom: 10px;

}


.awebo{
   border-radius: 25px;
  background: rgba(37, 44, 113, 0.9);
  width: 70%;

}


@media (max-width: 1550px) {
  .awebo{

    width: 100%;

  }

}

@media (max-width: 1300px) {

}

@media (max-width: 992px) {

}

@media (max-width: 600px) {
  .awebo{
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .valign-wrapper{
  display: inherit;
  }

}

@media (max-width: 500px) {
  img{
    width: 500px;
  }

  }

  @media (max-width: 330px) {
    img{

      width: 400px;
    }

    }

    @media (max-width: 300px) {
      img{

        width: 400px;
      }

      }

/*aweber*/

#af-form-1629039371 .af-body .af-textWrap{width:98%;display:block;float:none;}
#af-form-1629039371 .af-body a{color:#CCCCCC;text-decoration:underline;font-style:normal;font-weight:normal;}
#af-form-1629039371 .af-body input.text, #af-form-1629039371 .af-body textarea{background-color:#FFFFFF;border-color:#D9D9D9;border-width:1px;border-style:solid;color:#000000;text-decoration:none;font-style:normal;font-weight:normal;font-size:24px;font-family:Trebuchet MS, sans-serif;}
#af-form-1629039371 .af-body input.text:focus, #af-form-1629039371 .af-body textarea:focus{background-color:#FFFAD6;border-color:#030303;border-width:1px;border-style:solid;}
#af-form-1629039371 .af-body label.previewLabel{display:block;float:none;text-align:left;width:auto;color:#FFFFFF;text-decoration:none;font-style:normal;font-weight:normal;font-size:24px;font-family:Helvetica, sans-serif;}
#af-form-1629039371 .af-body{padding-bottom:18px;padding-top:18px;background-repeat:no-repeat;background-position:inherit;background-image:none;color:#CCCCCC;font-size:11px;font-family:Verdana, sans-serif;}
#af-form-1629039371 .af-header{padding-bottom:9px;padding-top:9px;padding-right:10px;padding-left:10px;background-color:transparent;background-repeat:no-repeat;background-position:inherit;background-image:none;border-width:1px;border-bottom-style:none;border-left-style:none;border-right-style:none;border-top-style:none;color:#CCCCCC;font-size:16px;font-family:Verdana, sans-serif;}
#af-form-1629039371 .af-quirksMode .bodyText{padding-top:2px;padding-bottom:2px;}
#af-form-1629039371 .af-quirksMode{padding-right:23px;padding-left:23px;}
#af-form-1629039371 .af-standards .af-element{padding-right:23px;padding-left:23px;}
#af-form-1629039371 .bodyText p{margin:1em 0;}
#af-form-1629039371 .buttonContainer input.submit{background-image:url("https://forms.aweber.com/images/auto/gradient/button/07c.png");background-position:top left;background-repeat:repeat-x;background-color:#0057ac;border:1px solid #0057ac;color:#FFFFFF;text-decoration:none;font-style:normal;font-weight:normal;font-size:24px;font-family:Helvetica, sans-serif;}
#af-form-1629039371 .buttonContainer input.submit{width:auto;}
#af-form-1629039371 .buttonContainer{text-align:center;}
#af-form-1629039371 body,#af-form-1629039371 dl,#af-form-1629039371 dt,#af-form-1629039371 dd,#af-form-1629039371 h1,#af-form-1629039371 h2,#af-form-1629039371 h3,#af-form-1629039371 h4,#af-form-1629039371 h5,#af-form-1629039371 h6,#af-form-1629039371 pre,#af-form-1629039371 code,#af-form-1629039371 fieldset,#af-form-1629039371 legend,#af-form-1629039371 blockquote,#af-form-1629039371 th,#af-form-1629039371 td{float:none;color:inherit;position:static;margin:0;padding:0;}
#af-form-1629039371 button,#af-form-1629039371 input,#af-form-1629039371 submit,#af-form-1629039371 textarea,#af-form-1629039371 select,#af-form-1629039371 label,#af-form-1629039371 optgroup,#af-form-1629039371 option{float:none;position:static;margin:0;}
#af-form-1629039371 div{margin:0;}
#af-form-1629039371 fieldset{border:0;}
#af-form-1629039371 form,#af-form-1629039371 textarea,.af-form-wrapper,.af-form-close-button,#af-form-1629039371 img{float:none;color:inherit;position:static;background-color:none;border:none;margin:0;padding:0;}
#af-form-1629039371 input,#af-form-1629039371 button,#af-form-1629039371 textarea,#af-form-1629039371 select{font-size:100%;}
#af-form-1629039371 p{color:inherit;}
#af-form-1629039371 select,#af-form-1629039371 label,#af-form-1629039371 optgroup,#af-form-1629039371 option{padding:0;}
#af-form-1629039371 table{border-collapse:collapse;border-spacing:0;}
#af-form-1629039371 ul,#af-form-1629039371 ol{list-style-image:none;list-style-position:outside;list-style-type:disc;padding-left:40px;}
#af-form-1629039371,#af-form-1629039371 .quirksMode{width:100%;max-width:366px;}
#af-form-1629039371.af-quirksMode{overflow-x:hidden;}
#af-form-1629039371{background-color:transparent;border-color:#CFCFCF;border-width:1px;border-style:none;}
#af-form-1629039371{display:block;}
#af-form-1629039371{overflow:hidden;}
.af-body .af-textWrap{text-align:left;}
.af-body input.image{border:none!important;}
.af-body input.submit,.af-body input.image,.af-form .af-element input.button{float:none!important;}
.af-body input.text{width:100%;float:none;padding:2px!important;}
.af-body.af-standards input.submit{padding:4px 12px;}
.af-clear{clear:both;}
.af-element label{text-align:left;display:block;float:left;}
.af-element{padding-bottom:5px;padding-top:5px;}
.af-form-wrapper{text-indent:0;}
.af-form{text-align:left;margin:auto;}
.af-header{margin-bottom:0;margin-top:0;padding:10px;}
.af-quirksMode .af-element{padding-left:0!important;padding-right:0!important;}
.lbl-right .af-element label{text-align:right;}
