@font-face {
    font-family:"CenturyGothic";
    src: url("../CenturyGothic.ttf") /* TTF file for CSS3 browsers */
}

body{
  background-image: url(../images/PDFLandingFondo2.jpg);
font-family: 'CenturyGothic';
background-size: cover;
}

h1{
  color: white;
}

@media (max-width: 500px) {
  img{
    width: 500px;
  }

  }

  @media (max-width: 330px) {
    img{
      width: 400px;
    }

    }

    @media (max-width: 300px) {
      img{
        width: 400px;
      }

      }
